body {
    background-color:#7da568;
}

#container {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 30px;
}

#imgface{
    
    height: 75px;
    padding-bottom: 10px;
    width: 85px;
    border-radius: 10px;
}
#imginsta {
    
    height: 100px;
    width: 100px;
    border-radius: 50%;
}