body {
    background-color: #7da568;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navegación */
nav {
    background-color: #865050;
    color: white;
    padding: 10px 20px;
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Contenedor principal */
#contenedor {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#divin {
    background-color: #7da568;
    padding: 20px;
    border-radius: 30px;
    max-width: 90%;
    font-family: 'Courier New', Courier, monospace;
}

/* Contenedor de imágenes */
#divimg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#divimg img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    #contenedor {
        flex-direction: column;
        align-items: center;
    }

    #divin {
        text-align: center;
    }
}