body {
  background-color: #7da568;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  nav {
    background-color: #865050;
    color: white;
    padding: 10px 20px;
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  nav a:hover {
    text-decoration: underline;
  }
  .nav-links {
    display: flex;
  }
  #contenedor {
    display: flex;
    align-items: start; /* Alinea el contenido verticalmente */
    justify-content:space-around; /* Espaciado entre texto e imágenes */
}

#divin {
  background-color: #7da568; /* Color de fondo del área de texto */
    width: 50%; /* Define el tamaño del área de texto */
    padding: 0px;
    border-radius: 30px;
    height: 400px;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
}

#divimg {
  border-radius: 20px;
  margin-top: 70px;
    width: 10px; /* Define el tamaño del área de imágenes */
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    gap: 10px; /* Espacio entre imágenes */
}

  

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
#img1{
  border-radius: 30px;
  margin-top: 0px;
}
#img2{
  border-radius: 30px;
 
}
